################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnusualSuspect.Admin/bin
/UnusualSuspect.Admin/obj
/UnusualSuspect.Common/bin
/UnusualSuspect.Common/obj
/UnusualSuspect.DataLayer/bin
/UnusualSuspect.DataLayer/obj
/UnusualSuspect.Entities/bin
/UnusualSuspect.Entities/obj
/UnusualSuspect.IocConfig/bin
/UnusualSuspect.IocConfig/obj
/UnusualSuspect.Services/bin
/UnusualSuspect.Services/obj
/UnusualSuspect.ViewComponents/bin
/UnusualSuspect.ViewComponents/obj
/UnusualSuspect.ViewModels/bin
/UnusualSuspect.ViewModels/obj
/.vs/*
/UnusualSuspect.Api/bin/Debug/net6.0
/UnusualSuspect.Api/obj
/UnusualSuspect.Api/bin/Debug/net7.0
/UnusualSuspect.Admin/wwwroot
/UnusualSuspect.Api/bin/Release/net7.0
/UnusualSuspect.ApiViewModels/obj
/UnusualSuspect.ApiViewModels/bin
