################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/Documents/*
/UnusualSuspect.Admin/bin
/UnusualSuspect.Admin/obj
/UnusualSuspect.Admin/App_Data
/UnusualSuspect.Api/bin
/UnusualSuspect.Api/obj
/UnusualSuspect.Api/App_Data
/UnusualSuspect.Common/bin
/UnusualSuspect.Common/obj
/UnusualSuspect.DataLayer/bin
/UnusualSuspect.DataLayer/obj
/UnusualSuspect.Entities/bin
/UnusualSuspect.Entities/obj
/UnusualSuspect.IocConfig/bin
/UnusualSuspect.IocConfig/obj
/UnusualSuspect.Services/bin
/UnusualSuspect.Services/obj
/UnusualSuspect.ViewComponents/bin
/UnusualSuspect.ViewComponents/obj
/UnusualSuspect.ViewModels/bin
/UnusualSuspect.ViewModels/obj
/UnusualSuspect.SignalrClient/bin
/UnusualSuspect.SignalrClient/obj
/UnusualSuspect.ApiViewModels/obj
/UnusualSuspect.ApiViewModels/bin
/UnusualSuspect.Admin/wwwroot/Files/Characters
/UnusualSuspect.Api/appsettings.Production.json
/UnusualSuspect.Admin/appsettings.Production.json
