
.icon-iconly-arrow-down-2-light:before { content: '\e91e'; } /* '' */
.icon-iconly-arrow-left-2-light:before { content: '\e91f'; } /* '' */
.icon-iconly-arrow-left-3-light:before { content: '\e920'; } /* '' */
.icon-iconly-2user-broken:before { content: '\e921'; } /* '' */
.icon-iconly-2user-light:before { content: '\e922'; } /* '' */
.icon-iconly-3user-broken:before { content: '\e923'; } /* '' */
.icon-iconly-3user-light:before { content: '\e924'; } /* '' */
.icon-iconly-activity-bold:before { content: '\e925'; } /* '' */
.icon-iconly-2user-bold:before { content: '\e926'; } /* '' */
.icon-iconly-3user-bold:before { content: '\e927'; } /* '' */
.icon-iconly-activity-broken:before { content: '\e928'; } /* '' */
.icon-iconly-arrow-left-light:before { content: '\e929'; } /* '' */
.icon-iconly-add-user-broken:before { content: '\e92b'; } /* '' */
.icon-iconly-activity-light:before { content: '\e92c'; } /* '' */
.icon-iconly-add-user-light:before { content: '\e92d'; } /* '' */
.icon-iconly-arrow-down-2-bold:before { content: '\e92e'; } /* '' */
.icon-iconly-arrow-down-3-bold:before { content: '\e92f'; } /* '' */
.icon-iconly-arrow-down-circle-bold:before { content: '\e930'; } /* '' */
.icon-iconly-arrow-down-square-bold:before { content: '\e931'; } /* '' */
.icon-iconly-arrow-down-bold:before { content: '\e932'; } /* '' */
.icon-iconly-arrow-left-2-bold:before { content: '\e933'; } /* '' */
.icon-iconly-arrow-left-circle-bold:before { content: '\e934'; } /* '' */
.icon-iconly-arrow-left-square-bold:before { content: '\e935'; } /* '' */
.icon-iconly-arrow-left-bold:before { content: '\e936'; } /* '' */
.icon-iconly-arrow-left-3-bold:before { content: '\e937'; } /* '' */
.icon-iconly-arrow-left-3-broken:before { content: '\e938'; } /* '' */
.icon-iconly-arrow-left-2-broken:before { content: '\e939'; } /* '' */
.icon-iconly-arrow-left-circle-broken:before { content: '\e93a'; } /* '' */
.icon-iconly-arrow-left-square-broken:before { content: '\e93b'; } /* '' */
.icon-iconly-arrow-left-broken:before { content: '\e93c'; } /* '' */
.icon-iconly-arrow-down-2-broken:before { content: '\e93d'; } /* '' */
.icon-iconly-arrow-down-3-broken:before { content: '\e93e'; } /* '' */
.icon-iconly-arrow-down-circle-broken:before { content: '\e93f'; } /* '' */
.icon-iconly-arrow-down-square-broken:before { content: '\e940'; } /* '' */
.icon-iconly-arrow-down-broken:before { content: '\e941'; } /* '' */
.icon-iconly-arrow-down-square-light:before { content: '\e942'; } /* '' */
.icon-iconly-arrow-down-circle-light:before { content: '\e943'; } /* '' */
.icon-iconly-arrow-left-circle-light:before { content: '\e944'; } /* '' */
.icon-iconly-arrow-left-square-light:before { content: '\e945'; } /* '' */
.icon-iconly-arrow-down-3-light:before { content: '\e946'; } /* '' */
.icon-iconly-arrow-down-light:before { content: '\e947'; } /* '' */
.icon-iconly-calendar-light:before { content: '\e948'; } /* '' */
.icon-iconly-arrow-right-2-bold:before { content: '\e949'; } /* '' */
.icon-iconly-arrow-right-2-broken:before { content: '\e94a'; } /* '' */
.icon-iconly-arrow-right-2-light:before { content: '\e94b'; } /* '' */
.icon-iconly-arrow-right-3-bold:before { content: '\e94c'; } /* '' */
.icon-iconly-arrow-right-3-broken:before { content: '\e94d'; } /* '' */
.icon-iconly-arrow-right-3-light:before { content: '\e94e'; } /* '' */
.icon-iconly-arrow-right-circle-bold:before { content: '\e94f'; } /* '' */
.icon-iconly-arrow-right-circle-broken:before { content: '\e950'; } /* '' */
.icon-iconly-arrow-right-circle-light:before { content: '\e951'; } /* '' */
.icon-iconly-arrow-right-square-01-light:before { content: '\e952'; } /* '' */
.icon-iconly-arrow-right-square-bold:before { content: '\e953'; } /* '' */
.icon-iconly-arrow-right-square-broken:before { content: '\e954'; } /* '' */
.icon-iconly-arrow-right-square-light:before { content: '\e955'; } /* '' */
.icon-iconly-arrow-right-bold:before { content: '\e956'; } /* '' */
.icon-iconly-arrow-right-broken:before { content: '\e957'; } /* '' */
.icon-iconly-arrow-right-light:before { content: '\e958'; } /* '' */
.icon-iconly-arrow-up2-bold:before { content: '\e959'; } /* '' */
.icon-iconly-arrow-up2-broken:before { content: '\e95a'; } /* '' */
.icon-iconly-arrow-up2-light:before { content: '\e95b'; } /* '' */
.icon-iconly-arrow-up3-bold:before { content: '\e95c'; } /* '' */
.icon-iconly-arrow-up3-broken:before { content: '\e95d'; } /* '' */
.icon-iconly-arrow-up3-light:before { content: '\e95e'; } /* '' */
.icon-iconly-arrow-up-broken:before { content: '\e95f'; } /* '' */
.icon-iconly-arrow-up-bold:before { content: '\e960'; } /* '' */
.icon-iconly-arrow-up-circle-bold:before { content: '\e961'; } /* '' */
.icon-iconly-arrow-up-circle-broken:before { content: '\e962'; } /* '' */
.icon-iconly-arrow-up-circle-light:before { content: '\e963'; } /* '' */
.icon-iconly-arrow-up-light:before { content: '\e964'; } /* '' */
.icon-iconly-arrow-up-square-bold:before { content: '\e965'; } /* '' */
.icon-iconly-arrow-up-square-broken:before { content: '\e966'; } /* '' */
.icon-iconly-arrow-up-square-light:before { content: '\e967'; } /* '' */
.icon-iconly-bag2-bold:before { content: '\e968'; } /* '' */
.icon-iconly-bag2-broken:before { content: '\e969'; } /* '' */
.icon-iconly-bag2-light:before { content: '\e96a'; } /* '' */
.icon-iconly-bag-light:before { content: '\e96b'; } /* '' */
.icon-iconly-bookmark-light:before { content: '\e96c'; } /* '' */
.icon-iconly-buy-light:before { content: '\e96d'; } /* '' */
.icon-iconly-bookmark-bold:before { content: '\e96e'; } /* '' */
.icon-iconly-buy-bold:before { content: '\e96f'; } /* '' */
.icon-iconly-calendar-bold:before { content: '\e970'; } /* '' */
.icon-iconly-bookmark-broken:before { content: '\e971'; } /* '' */
.icon-iconly-bag-broken:before { content: '\e972'; } /* '' */
.icon-iconly-buy-broken:before { content: '\e973'; } /* '' */
.icon-iconly-calendar-broken:before { content: '\e974'; } /* '' */
.icon-iconly-download-broken:before { content: '\e975'; } /* '' */
.icon-iconly-download-light:before { content: '\e976'; } /* '' */
.icon-iconly-edit-broken:before { content: '\e977'; } /* '' */
.icon-iconly-edit-bold:before { content: '\e978'; } /* '' */
.icon-iconly-edit-square-bold:before { content: '\e979'; } /* '' */
.icon-iconly-edit-square-broken:before { content: '\e97a'; } /* '' */
.icon-iconly-edit-light:before { content: '\e97b'; } /* '' */
.icon-iconly-edit-square-light:before { content: '\e97c'; } /* '' */
.icon-iconly-call-bold:before { content: '\e97d'; } /* '' */
.icon-iconly-call-broken:before { content: '\e97e'; } /* '' */
.icon-iconly-calling-bold:before { content: '\e97f'; } /* '' */
.icon-iconly-calling-light:before { content: '\e980'; } /* '' */
.icon-iconly-call-light:before { content: '\e981'; } /* '' */
.icon-iconly-calling-broken:before { content: '\e982'; } /* '' */
.icon-iconly-call-missed-bold:before { content: '\e983'; } /* '' */
.icon-iconly-call-missed-broken:before { content: '\e984'; } /* '' */
.icon-iconly-call-missed-light:before { content: '\e985'; } /* '' */
.icon-iconly-call-silent-bold:before { content: '\e986'; } /* '' */
.icon-iconly-call-silent-broken:before { content: '\e987'; } /* '' */
.icon-iconly-call-silent-light:before { content: '\e988'; } /* '' */
.icon-iconly-camera-bold:before { content: '\e989'; } /* '' */
.icon-iconly-camera-broken:before { content: '\e98a'; } /* '' */
.icon-iconly-camera-light:before { content: '\e98b'; } /* '' */
.icon-iconly-category-bold:before { content: '\e98c'; } /* '' */
.icon-iconly-category-broken:before { content: '\e98d'; } /* '' */
.icon-iconly-category-light:before { content: '\e98e'; } /* '' */
.icon-iconly-chart-bold:before { content: '\e98f'; } /* '' */
.icon-iconly-chart-broken:before { content: '\e990'; } /* '' */
.icon-iconly-chart-light:before { content: '\e991'; } /* '' */
.icon-iconly-chat-bold:before { content: '\e992'; } /* '' */
.icon-iconly-chat-broken:before { content: '\e993'; } /* '' */
.icon-iconly-close-square-bold:before { content: '\e994'; } /* '' */
.icon-iconly-chat-light:before { content: '\e995'; } /* '' */
.icon-iconly-close-square-broken:before { content: '\e996'; } /* '' */
.icon-iconly-close-square-light:before { content: '\e997'; } /* '' */
.icon-iconly-danger-bold:before { content: '\e998'; } /* '' */
.icon-iconly-danger-broken:before { content: '\e999'; } /* '' */
.icon-iconly-danger-light:before { content: '\e99a'; } /* '' */
.icon-iconly-delete-broken:before { content: '\e99b'; } /* '' */
.icon-iconly-delete-bold:before { content: '\e99c'; } /* '' */
.icon-iconly-delete-light:before { content: '\e99d'; } /* '' */
.icon-iconly-discount-bold:before { content: '\e99e'; } /* '' */
.icon-iconly-discount-broken:before { content: '\e99f'; } /* '' */
.icon-iconly-discount-light:before { content: '\e9a0'; } /* '' */
.icon-iconly-discovery-broken:before { content: '\e9a1'; } /* '' */
.icon-iconly-document-broken:before { content: '\e9a2'; } /* '' */
.icon-iconly-discovery-light:before { content: '\e9a3'; } /* '' */
.icon-iconly-document-bold:before { content: '\e9a4'; } /* '' */
.icon-iconly-document-light:before { content: '\e9a5'; } /* '' */
.icon-iconly-download-bold:before { content: '\e9a6'; } /* '' */
.icon-iconly-discovery-bold:before { content: '\e9a7'; } /* '' */
.icon-iconly-filter2-bold:before { content: '\e9a8'; } /* '' */
.icon-iconly-filter2-broken:before { content: '\e9a9'; } /* '' */
.icon-iconly-message-bold:before { content: '\e9aa'; } /* '' */
.icon-iconly-filter2-light:before { content: '\e9ab'; } /* '' */
.icon-iconly-filter-bold:before { content: '\e9ac'; } /* '' */
.icon-iconly-filter-broken:before { content: '\e9ad'; } /* '' */
.icon-iconly-filter-light:before { content: '\e9ae'; } /* '' */
.icon-iconly-folder-bold:before { content: '\e9af'; } /* '' */
.icon-iconly-folder-broken:before { content: '\e9b0'; } /* '' */
.icon-iconly-game-bold:before { content: '\e9b1'; } /* '' */
.icon-iconly-game-broken:before { content: '\e9b2'; } /* '' */
.icon-iconly-graph-bold:before { content: '\e9b3'; } /* '' */
.icon-iconly-graph-broken:before { content: '\e9b4'; } /* '' */
.icon-iconly-heart-broken:before { content: '\e9b5'; } /* '' */
.icon-iconly-heart-light:before { content: '\e9b6'; } /* '' */
.icon-iconly-folder-light:before { content: '\e9b7'; } /* '' */
.icon-iconly-graph-light:before { content: '\e9b8'; } /* '' */
.icon-iconly-game-light:before { content: '\e9b9'; } /* '' */
.icon-iconly-heart-bold:before { content: '\e9ba'; } /* '' */
.icon-iconly-hide-bold:before { content: '\e9bb'; } /* '' */
.icon-iconly-hide-broken:before { content: '\e9bc'; } /* '' */
.icon-iconly-home-broken:before { content: '\e9bd'; } /* '' */
.icon-iconly-home-bold:before { content: '\e9be'; } /* '' */
.icon-iconly-image2-bold:before { content: '\e9bf'; } /* '' */
.icon-iconly-image2-broken:before { content: '\e9c0'; } /* '' */
.icon-iconly-image-bold:before { content: '\e9c1'; } /* '' */
.icon-iconly-image-broken:before { content: '\e9c2'; } /* '' */
.icon-iconly-info-circle-bold:before { content: '\e9c3'; } /* '' */
.icon-iconly-info-circle-broken:before { content: '\e9c4'; } /* '' */
.icon-iconly-info-square-bold:before { content: '\e9c5'; } /* '' */
.icon-iconly-info-square-broken:before { content: '\e9c6'; } /* '' */
.icon-iconly-location-bold:before { content: '\e9c7'; } /* '' */
.icon-iconly-location-broken:before { content: '\e9c8'; } /* '' */
.icon-iconly-lock-bold:before { content: '\e9c9'; } /* '' */
.icon-iconly-login-bold:before { content: '\e9ca'; } /* '' */
.icon-iconly-lock-broken:before { content: '\e9cb'; } /* '' */
.icon-iconly-login-broken:before { content: '\e9cc'; } /* '' */
.icon-iconly-logout-bold:before { content: '\e9cd'; } /* '' */
.icon-iconly-logout-broken:before { content: '\e9ce'; } /* '' */
.icon-iconly-logout-light:before { content: '\e9cf'; } /* '' */
.icon-iconly-info-circle-light:before { content: '\e9d0'; } /* '' */
.icon-iconly-info-square-light:before { content: '\e9d1'; } /* '' */
.icon-iconly-location-light:before { content: '\e9d2'; } /* '' */
.icon-iconly-lock-light:before { content: '\e9d3'; } /* '' */
.icon-iconly-login-light:before { content: '\e9d4'; } /* '' */
.icon-iconly-hide-light:before { content: '\e9d5'; } /* '' */
.icon-iconly-home-light:before { content: '\e9d6'; } /* '' */
.icon-iconly-image2-light:before { content: '\e9d7'; } /* '' */
.icon-iconly-image-light:before { content: '\e9d8'; } /* '' */
.icon-iconly-message-broken:before { content: '\e9d9'; } /* '' */
.icon-iconly-message-light:before { content: '\e9da'; } /* '' */
.icon-iconly-send-bold:before { content: '\e9db'; } /* '' */
.icon-iconly-more-circle-broken:before { content: '\e9dc'; } /* '' */
.icon-iconly-more-circle-light:before { content: '\e9dd'; } /* '' */
.icon-iconly-more-square-bold:before { content: '\e9de'; } /* '' */
.icon-iconly-more-circle-bold:before { content: '\e9df'; } /* '' */
.icon-iconly-more-square-light:before { content: '\e9e0'; } /* '' */
.icon-iconly-notification-bold:before { content: '\e9e1'; } /* '' */
.icon-iconly-notification-broken:before { content: '\e9e2'; } /* '' */
.icon-iconly-more-square-broken:before { content: '\e9e3'; } /* '' */
.icon-iconly-paper-broken:before { content: '\e9e4'; } /* '' */
.icon-iconly-paper-bold:before { content: '\e9e5'; } /* '' */
.icon-iconly-notification-light:before { content: '\e9e6'; } /* '' */
.icon-iconly-paper-download-bold:before { content: '\e9e7'; } /* '' */
.icon-iconly-paper-download-broken:before { content: '\e9e8'; } /* '' */
.icon-iconly-paper-fail-broken:before { content: '\e9e9'; } /* '' */
.icon-iconly-paper-download-light:before { content: '\e9ea'; } /* '' */
.icon-iconly-paper-fail-bold:before { content: '\e9eb'; } /* '' */
.icon-iconly-paper-fail-light:before { content: '\e9ec'; } /* '' */
.icon-iconly-paper-negative-bold:before { content: '\e9ed'; } /* '' */
.icon-iconly-paper-plus-bold:before { content: '\e9ee'; } /* '' */
.icon-iconly-paper-negative-broken:before { content: '\e9ef'; } /* '' */
.icon-iconly-paper-light:before { content: '\e9f0'; } /* '' */
.icon-iconly-paper-negative-light:before { content: '\e9f1'; } /* '' */
.icon-iconly-paper-plus-broken:before { content: '\e9f2'; } /* '' */
.icon-iconly-paper-plus-light:before { content: '\e9f3'; } /* '' */
.icon-iconly-paper-upload-bold:before { content: '\e9f4'; } /* '' */
.icon-iconly-paper-upload-light:before { content: '\e9f5'; } /* '' */
.icon-iconly-paper-upload-broken:before { content: '\e9f6'; } /* '' */
.icon-iconly-password-bold:before { content: '\e9f7'; } /* '' */
.icon-iconly-password-broken:before { content: '\e9f8'; } /* '' */
.icon-iconly-password-light:before { content: '\e9f9'; } /* '' */
.icon-iconly-play-bold:before { content: '\e9fa'; } /* '' */
.icon-iconly-play-broken:before { content: '\e9fb'; } /* '' */
.icon-iconly-play-light:before { content: '\e9fc'; } /* '' */
.icon-iconly-plus-bold:before { content: '\e9fd'; } /* '' */
.icon-iconly-plus-light:before { content: '\e9fe'; } /* '' */
.icon-iconly-profile-light:before { content: '\e9ff'; } /* '' */
.icon-iconly-scan-bold:before { content: '\ea00'; } /* '' */
.icon-iconly-search-bold:before { content: '\ea01'; } /* '' */
.icon-iconly-scan-light:before { content: '\ea02'; } /* '' */
.icon-iconly-search-light:before { content: '\ea03'; } /* '' */
.icon-iconly-profile-broken:before { content: '\ea04'; } /* '' */
.icon-iconly-scan-broken:before { content: '\ea05'; } /* '' */
.icon-iconly-search-broken:before { content: '\ea06'; } /* '' */
.icon-iconly-plus-broken:before { content: '\ea07'; } /* '' */
.icon-iconly-profile-bold:before { content: '\ea08'; } /* '' */
.icon-iconly-send-broken:before { content: '\ea09'; } /* '' */
.icon-iconly-work-bold:before { content: '\ea0a'; } /* '' */
.icon-iconly-setting-broken:before { content: '\ea0b'; } /* '' */
.icon-iconly-shield-done-broken:before { content: '\ea0c'; } /* '' */
.icon-iconly-star-bold:before { content: '\ea0d'; } /* '' */
.icon-iconly-swap-bold:before { content: '\ea0e'; } /* '' */
.icon-iconly-ticket-bold:before { content: '\ea0f'; } /* '' */
.icon-iconly-ticket-star-bold:before { content: '\ea10'; } /* '' */
.icon-iconly-tick-square-bold:before { content: '\ea11'; } /* '' */
.icon-iconly-time-circle-bold:before { content: '\ea12'; } /* '' */
.icon-iconly-time-square-bold:before { content: '\ea13'; } /* '' */
.icon-iconly-unlock-bold:before { content: '\ea14'; } /* '' */
.icon-iconly-upload-bold:before { content: '\ea15'; } /* '' */
.icon-iconly-video-bold:before { content: '\ea16'; } /* '' */
.icon-iconly-time-square-light:before { content: '\ea17'; } /* '' */
.icon-iconly-unlock-light:before { content: '\ea18'; } /* '' */
.icon-iconly-ticket-light:before { content: '\ea19'; } /* '' */
.icon-iconly-time-circle-light:before { content: '\ea1a'; } /* '' */
.icon-iconly-upload-light:before { content: '\ea1b'; } /* '' */
.icon-iconly-video-light:before { content: '\ea1c'; } /* '' */
.icon-iconly-star-light:before { content: '\ea1d'; } /* '' */
.icon-iconly-survey-light:before { content: '\ea1e'; } /* '' */
.icon-iconly-swap-light:before { content: '\ea1f'; } /* '' */
.icon-iconly-show-light:before { content: '\ea20'; } /* '' */
.icon-iconly-ticket-star-light:before { content: '\ea21'; } /* '' */
.icon-iconly-tick-square-light:before { content: '\ea22'; } /* '' */
.icon-iconly-voice2-bold:before { content: '\ea23'; } /* '' */
.icon-iconly-send-light:before { content: '\ea24'; } /* '' */
.icon-iconly-setting-light:before { content: '\ea25'; } /* '' */
.icon-iconly-shield-done-light:before { content: '\ea26'; } /* '' */
.icon-iconly-shield-fail-light:before { content: '\ea27'; } /* '' */
.icon-iconly-voice2-light:before { content: '\ea28'; } /* '' */
.icon-iconly-voice-bold:before { content: '\ea29'; } /* '' */
.icon-iconly-voice-light:before { content: '\ea2a'; } /* '' */
.icon-iconly-volume-down-bold:before { content: '\ea2b'; } /* '' */
.icon-iconly-volume-down-light:before { content: '\ea2c'; } /* '' */
.icon-iconly-volume-off-bold:before { content: '\ea2d'; } /* '' */
.icon-iconly-volume-up-bold:before { content: '\ea2e'; } /* '' */
.icon-iconly-wallet-bold:before { content: '\ea2f'; } /* '' */
.icon-iconly-wallet-light:before { content: '\ea30'; } /* '' */
.icon-iconly-volume-off-light:before { content: '\ea31'; } /* '' */
.icon-iconly-volume-up-light:before { content: '\ea32'; } /* '' */
.icon-iconly-shield-done-bold:before { content: '\ea33'; } /* '' */
.icon-iconly-setting-bold:before { content: '\ea34'; } /* '' */
.icon-iconly-shield-fail-bold:before { content: '\ea35'; } /* '' */
.icon-iconly-show-bold:before { content: '\ea36'; } /* '' */
.icon-iconly-volume-down-broken:before { content: '\ea37'; } /* '' */
.icon-iconly-volume-off-broken:before { content: '\ea38'; } /* '' */
.icon-iconly-volume-up-broken:before { content: '\ea39'; } /* '' */
.icon-iconly-wallet-broken:before { content: '\ea3a'; } /* '' */
.icon-iconly-upload-broken:before { content: '\ea3b'; } /* '' */
.icon-iconly-unlock-broken:before { content: '\ea3c'; } /* '' */
.icon-iconly-time-square-broken:before { content: '\ea3d'; } /* '' */
.icon-iconly-video-broken:before { content: '\ea3e'; } /* '' */
.icon-iconly-voice2-broken:before { content: '\ea3f'; } /* '' */
.icon-iconly-voice-broken:before { content: '\ea40'; } /* '' */
.icon-iconly-time-circle-broken:before { content: '\ea41'; } /* '' */
.icon-iconly-swap-broken:before { content: '\ea42'; } /* '' */
.icon-iconly-ticket-broken:before { content: '\ea43'; } /* '' */
.icon-iconly-ticket-star-broken:before { content: '\ea44'; } /* '' */
.icon-iconly-tick-square-broken:before { content: '\ea45'; } /* '' */
.icon-iconly-shield-fail-broken:before { content: '\ea46'; } /* '' */
.icon-iconly-show-broken:before { content: '\ea47'; } /* '' */
.icon-iconly-star-broken:before { content: '\ea48'; } /* '' */
.icon-iconly-work-light:before { content: '\ea49'; } /* '' */
.icon-iconly-work-broken:before { content: '\ea4a'; } /* '' */
